@charset "utf-8";
// If need, change your variables before importing Bulma
@import "~bulma/bulma.sass";

body{
    font-family: Arial, Helvetica, sans-serif;
}

p, label, select{
    font-family: Arial, Helvetica, sans-serif;
}

.hero{
    .column.bubble{
        background: rgba(256,256,256,0.2);
        border-radius: 6px;
        padding: 10px;
    }
    a{
        color: #fff;
        text-decoration: underline;
    }
}
.box{
    margin-bottom: 20px;
    border: 6px solid rgba(245, 59, 87,1.0);
    img{
        width: 200px;
    }
    .button{
        transition: 0.5s;
        font-weight: 700;
        background: rgba(245, 59, 87,.8);
        color: #fff;
        &:hover{
            background: rgba(245, 59, 87,1.0);
            color: #fff;
        }
    }
    a{
        color:rgba(245, 59, 87,.8);
        &:hover{
            color: rgba(245, 59, 87,1.0)
        }
    }
    &.gold{
        border: 6px solid rgba(11, 232, 129,1.0);
        .button{
            color: #fff;
            background: rgba(11, 232, 129,0.8);
            &:hover{
                background: rgba(11, 232, 129,1);
                color: #fff;
            }
        }
        a{
            color:rgba(11, 232, 129,0.8);
            &:hover{
                color: rgba(11, 232, 129, 1);
            }
        }
    }
    &.silver{
        border: 6px solid rgba(255, 168, 1,1.0);
        .button{
            color: #fff;
            background: rgba(255, 168, 1,0.8);
            &:hover{
                background: rgba(255, 168, 1,1.0);
                color: #fff;
            }
        }
        a{
            color:rgba(255, 168, 1,0.8);
            &:hover{
                color: rgba(255, 168, 1,1.0);
            }
        }
    
    }
}
.sorter{
    padding: 10px 20px;
    border-radius: 6px;
    background: #eee;
    margin-top: 20px;
    .level{
        .field-label{
            @media screen and (min-width: 769px){
                flex-grow: 2;
            }
            .type{
                @media screen and (min-width: 960px){
                    margin-left: 10px;
                }
            }
        }
        
    }
}

@media screen  and (max-width:960px){
    .hero{
        .container{
            width: auto;
        }

    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
    .sorter{
        margin-top: 20px;
    }
}

@media screen  and (max-width:480px){
    html{
        font-size: 90%;
    }
    .media-left{
        display: none;
    }
    .box{
        img{
            width: 100%;
        }
        .media-content{
            overflow-x: visible;
        }
        .column{
        }
        p{
            margin: 0;
        }
    }
}